# Blockchain Configuration
NEXT_PUBLIC_APP_NETWORK=sepolia
NEXT_PUBLIC_CONTRACT_KEY=YOUR_CONTRACT_ADDRESS_HERE
NEXT_PUBLIC_OWNER_ADDRESS=YOUR_WALLET_ADDRESS_HERE

# EmailJS Configuration (for sending voter hashes)
NEXT_PUBLIC_EMAIL_JS_SERVICE_ID=YOUR_SERVICE_ID_HERE
NEXT_PUBLIC_EMAIL_JS_TEMPLATE_ID=YOUR_TEMPLATE_ID_HERE
NEXT_PUBLIC_EMAIL_JS_PUBLIC_KEY=YOUR_PUBLIC_KEY_HERE
